@use '_mixins.scss' as *;
@use '_variables.scss' as *;
@import '~bootstrap/scss/bootstrap';
@import "node_modules/font-awesome/scss/font-awesome.scss";


header {

    #header-top {
        font-weight: bold;
        font-size: 11px;
        text-align: right;
        text-transform: uppercase;
        background-color: $skyblue;

        a {
            color: white;
            text-decoration: none;

            &:nth-child(2) {
                padding-left: 2rem;
            }
        }

    }
    
    .container-btm {
        @include centerFlex();
        
        height: 5rem;
        
        * {
            @include centerFlex();
            height: 100%;
        }

        #header-left {
            padding: .8rem 0;

            img {
                cursor: pointer;
            }
        }

        #header-center {

            ul {
                gap: 2rem;
                font-weight: bold;
                font-size: 12px;
                text-transform: uppercase;
            }

            li {
                border-bottom: 4px solid transparent;

                transition: 0.1s;
            }

            li:hover {
                border-bottom: 4px solid $skyblue;
                cursor: pointer;
            }

        } 

        #header-right {
            padding: 1.8rem;
        }

    }
}

#jumbotron {
    min-height: 280px;

    background-image: url("../img/jumbotron.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    position: relative;

    padding: 3rem 0 2rem;

    text-align: center;
    color: white;
    background-color: $dark-grey;

    #current-series-label {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(30%, -50%);
        
        padding: .3em 1em;

        text-transform: uppercase;
        color: white;
        background-color: $skyblue;
        }

    #current-series-container {

        .current-series {
    
            img {
                aspect-ratio: 1;
                object-position: top;
                object-fit: cover;
    
                cursor: pointer;
            }
    
            .title {
                font-size: .8em;
                text-align: left;
                text-transform: uppercase;
            }
    
            .title:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }

    }

    button {
        padding: .5em 3em;
        
        text-align: center;
        text-transform: uppercase;
        border: none;
        color: white;
        background-color: $skyblue;
        cursor: pointer;
    }

}

#buy-comics-section {

    height: 8rem;
    color: white;
    background-color: $skyblue;

    * {
        height: 100%;
    }

    .container {

        ul {
            @include centerFlex();
        }
    
        li {
            @include centerFlex();
            justify-content: flex-start;
            gap: .5em;
    
            font-size: 13px;
            text-transform: uppercase;
    
            img {
                height: 35%;
            }

        }

        li:last-child img {
            width: 25%;
        }
    }

}
